Package: spark-writer
Version: 0.1.20-1
Architecture: all
Maintainer: J. Weber <weber.jesse@gmail.com>
Installed-Size: 1736
Depends: python3-libtorrent, python3-nacl, python3-requests, python3:any (>= 3.10~), python3-gi, gir1.2-gtk-4.0, gir1.2-adw-1, libnotify-bin
Breaks: spark-gtk (<< 0.2.0)
Replaces: spark-gtk (<< 0.2.0)
Provides: spark-gtk
Section: utils
Priority: optional
Description: GTK4 frontend for Spark Writer
 A modern USB writer and ISO remastering tool.
 .
 This package provides the GTK4 interface.
